style.css

        
    body {background-color: blueviolet}
    h1  { font-family:Verdana, Geneva, Tahoma, sans-serif;}
    h3 {font-size:250%;color:blueviolet;}
    h4 {color:brown; text-align:center;}


    